{% extends 'base.html' %}

{% block title %}My Diary {% endblock %}

{% block content %}
    <h2>Мой дневник</h2>
        <ul class="list-group">
            {% for diary in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'diary:diary_detail' diary.id %}">{{ diary.title }}</a>
                     - {{ diary.created_at }}
                     <br/>
                   <div style="margin-top: 5px;">
                       <a href="{% url 'diary:diary_update' diary.id %}" class="btn btn-sm btn-primary">Edit</a>
                       <a href="{% url 'diary:diary_delete' diary.id %}" class="btn btn-sm btn-danger">Delete</a>
                     </div>
                </li>
            {% endfor %}
        </ul>
     <a href="{% url 'diary:diary_create' %}" class="btn btn-primary mt-3">Создать новую запись</a>
{% endblock %}